:root{
    --purple: #6F4C5B;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all, 0.3s linear;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #F5E8C7;
}

.container{
    text-align: center;
    background-color: #fff;
    border: 0.3rem solid var(--purple);
    padding: 2rem;
    border-radius: 3rem;
    color: #192a56;
    width: 30rem;
}

.container img{
    height: 120px;
    width: 120px;
}

.container h3{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.container form{
    border: 0.15rem solid var(--light-color);
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    padding: 1.5rem;
    text-align: left;
    font-weight: 600;
}

.container form input{
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5rem;
    font-size: 16px;
}

.container form input[type="submit"]{
    color: #fff;
    background-color: var(--purple);
    font-size: 18px;
}

.container form input[type="submit"]:hover{
    letter-spacing: 0.3rem;
}

.box{
    position: fixed;
    background-color: var(--purple);
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 0.3rem solid var(--black);
    color: #fff;
}

.box h1{
    font-size: 2.5rem;
}

.box .contain{
    background-color: var(--light-color);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 3rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--black);
}

.box .contain .btn{
    margin: 1rem;
    font-size: 1.1rem;
    display: inline-block;
    color: #fff;
    background-color: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
    width: 200px;
}

.products{
    background-color: var(--light-color);
    margin-left: 8rem;
    margin-right: 8rem;
    width: 500px;
    border-radius: 2rem;
    padding: 1rem;
    text-align: left;
}

.products label{
    font-size: 1.2rem;
}

.products input{
    margin-top: 0.4rem;
    width: 100%;
    padding: 0.3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

.div h1{
    text-align: center;
    padding: 0.5rem;
}

.products .btn{
    margin: 1rem;
    font-size: 1.1rem;
    display: inline-block;
    color: #fff;
    background-color: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
    width: 200px;
}

.products .buttons .btn{
    border: none;
}

.products .buttons .btn a{
    color: #fff;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
}

tbody {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

@media (max-width: 990px) {
    .container{
        margin: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .container{
        margin: 0.5rem;
    }

    .container img{
        width: 80px;
        height: 80px;
    }

    .container h3{
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    
    .container form{
        padding: 1rem;
    }
}